<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lijing.dev.storage" >
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
</manifest>
